$navButtonHeight: 72px;

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.statsSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;
  padding: 8px;
  gap: 8px;
  align-self: flex-end;
}

html,
#root,
body {
  height: calc(100% - env(safe-area-inset-bottom));
  width: 100%;
  margin: 0;
  max-width: 100%;
  // COLORS.backgroundBase
  background-color: #2f3136;
  // COLORS.foregroundBase
  color: #ffffff;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
