$navButtonHeight: 72px;

@font-face {
  font-family: lifeCraft;
  src: url("./assets/lifecraft.ttf");
}

span, p, .app {
  font-family: lifeCraft;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  > div {
    width: 30vw;
    height: $navButtonHeight;
    background-color: #ccc;
  }
}

.statsSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;
  padding: 8px;
  gap: 8px;
  align-self: flex-end;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 5;
  align-content: flex-start;
}

html,
#root,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  background-color: #2f3136
}

* {
  box-sizing: border-box;
}
